<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>web.root</param-value>
	</context-param>
	<context-param>
		<description>配置spring配置文件的路径</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/dao.xml,/WEB-INF/classes/applicationContext.xml,/WEB-INF/classes/base.xml</param-value>
	</context-param>
	
	<listener>
		<display-name>spring的侦听器</display-name>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
   	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    
	<listener>
		<display-name>登录权限</display-name>
		<listener-class>common.cdk.login.connections.ConnectionControl</listener-class>
	</listener>
	<listener>
		<description>启动文件自动更新线程</description>
		<display-name>fileListener</display-name>
		<listener-class>common.filethread.listener.FileListener</listener-class>
	</listener>
	<context-param>
		<description>设置每次扫描文件间隔的时间</description>
		<param-name>cycle_length</param-name>
		<param-value>60000</param-value>
	</context-param>
	<listener>
		<description>系统启动初始化</description>
		<display-name>AppStartupListener</display-name>
		<listener-class>com.cdk.ats.web.sys.AppStartupListener</listener-class>
	</listener>
	 <context-param>
    	<param-name>msgConfigPath</param-name>
    	<param-value>/WEB-INF/classes/msgconfig.properties</param-value>
    </context-param>
     <context-param>
    	<param-name>sqlConfigPath</param-name>
    	<param-value>/WEB-INF/classes/sqlconfig.properties</param-value>
    </context-param>
     <context-param>
    	<param-name>webAppConfigPath</param-name>
    	<param-value>/WEB-INF/classes/webApp.properties</param-value>
    </context-param> 
     <context-param>
    	<param-name>SessionMaxInactiveInterval</param-name>
    	<param-value>1200</param-value>
    </context-param>
    <!--  log  -->
    <listener>
    	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
    </listener> 
   
    
	<!-- end log  -->
	<!--  开启端口侦听  -->
	<listener>
		<listener-class>com.cdk.ats.udp.sys.UdpListener</listener-class>
	</listener>
	<context-param>
		<description>本地侦听的端口</description>
		<param-name>listen_port</param-name>
		<param-value>6868</param-value>
	</context-param>
  <filter>
  		<description>系统过滤器</description>
		<filter-name>appFilter</filter-name>
		<filter-class>common.cdk.filter.CommonFilter</filter-class>
		<init-param>
			<param-name>ClassName</param-name>
			<param-value>
			common.cdk.filter.tools.impl.CharacterEncoding,
			common.cdk.filter.tools.impl.IPRestrictions,
			common.cdk.filter.tools.impl.UserRights
			</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>IP_Restrictions</param-name>
			<param-value>WEB-INF/classes/ip.xml</param-value>
		</init-param>
		<init-param>
			<param-name>RestrictedErrorURL</param-name>
			<param-value>restricted.html</param-value>
		</init-param>
		<init-param>
			<param-name>UserRight</param-name>
			<param-value>UserInfo</param-value>
		</init-param>
		<init-param>
			<param-name>loginURL</param-name>
			<param-value>login.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>PassURL</param-name>
			<param-value>login!login,login.jsp,restricted.html,pub/,ext-3.4,ctl,templates/,pages,plugs</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>appFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	    <!-- 配置session 自动打开，并指定拦截路径，注意，此过滤器在struts2之前 -->
	  <filter>
	      <filter-name>hibernateSessionFilter</filter-name>
	      <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	      <init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		  </init-param> 
	 </filter>
	 <filter-mapping>
		<filter-name>hibernateSessionFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
 
 
	<filter>
		<description>struts2 的过滤器</description>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
   <!--servlet>
   <servlet-name>testlog</servlet-name>
   <servlet-class>com.ats.logutils.Control</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>testlog</servlet-name>
   	<url-pattern>/testlog</url-pattern>
   </servlet-mapping-->
  
  </web-app>
